* {box-sizing: border-box;}
body {
  font-family: arial;
  background-color: Orange;
}

.tilmeldpop{
       display:none;
     margin-top:300px;
     margin-left:300px;
   }

   .tilmeld2{
       padding-top:10px;
   }

   .nyhedsbrev{
       padding-top:30px;
   }

   .nyhedsbrevknap{
       font-size:larger;
       background-color:#fbfcf9;
       border-radius:20px;
       color:rgb(211, 166, 20);
       border:0px;
       height:50px;
       font-size:large;

       cursor: pointer;
       margin-top: 250px;

   }
   .nyhedsbrevknap1{
       font-size:larger;
       background-color:#fbfcf9;
       border-radius:20px;
       color:rgb(211, 166, 20);
       border:0px;
       height:50px;
       font-size:large;

       cursor: pointer;
       margin-top: 10px;

}

   .takpop{
       display:none;
       font-size:large;
       color:black;

   }
